<!--
The MyDrawer custom component view is where you define what will be displayed in the app drawer.
Feel free to customize layouts and components to change how your app drawer looks.
-->
<GridLayout rows="auto, *" class="sidedrawer sidedrawer-left">
    <StackLayout row="0" class="sidedrawer-header">
        <Label class="sidedrawer-header-image fa" text="&#xf2bd;"></Label>
        <Label class="sidedrawer-header-brand" text="User Name"></Label>
        <Label class="footnote" [text]="email"></Label>
    </StackLayout>

    <ScrollView row="1">
        <StackLayout class="sidedrawer-content">
            <MyDrawerItem title="Home" route="/home" icon="&#xf015;" [isSelected]="isPageSelected('Home')">
            </MyDrawerItem>

            <MyDrawerItem *ngIf="isTodo" title="Todo" route="/todo" icon="&#xf005;" [isSelected]="isPageSelected('Todo')">
            </MyDrawerItem>

            <MyDrawerItem title="Change Password" route="/changePassword" icon="&#xf013;" [isSelected]="isPageSelected('changePassword')">
            </MyDrawerItem>

            <StackLayout class="hr-light"></StackLayout>

            <MyDrawerItem title="Logout" route="/logout" icon="&#xf013;" [isSelected]="isPageSelected('logout')">
            </MyDrawerItem>

        </StackLayout>
    </ScrollView>
</GridLayout>