<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
The RadSideDrawer component is designed to be used as a root element and
it shouldn't have any other siblings other than the <ActionBar> component.
-->
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--
    Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Home'"></MyDrawer>
    </StackLayout>

    <!--
    Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->
    <GridLayout class="page page-content" tkMainContent>
        <!-- <Label class="page-icon fa" text="&#xf015;"></Label>-->
        <!-- <Label [text]="fireBaseToken" class="firebasetoken"></Label> -->
        <StackLayout>
            <StackLayout orientation="horizontal">
                <Label text="Time :" textWrap="true"></Label>
                <Label [text]="time" textWrap="true"></Label>
            </StackLayout>
            <StackLayout orientation="horizontal">
                <Label text="latitude :" textWrap="true"></Label>
                <Label [text]="location.latitude" textWrap="true"></Label>
            </StackLayout>
            <StackLayout orientation="horizontal">
                <Label text="longitude :" textWrap="true"></Label>
                <Label [text]="location.longitude" textWrap="true"></Label>
            </StackLayout>
            <StackLayout orientation="horizontal">
                <Label text="Firebase Token :" textWrap="true"></Label>
                <Label [text]="fireBaseToken" class="firebasetoken"></Label>
            </StackLayout>
            <!-- <TextView hint="" [text]="fireBaseToken" editable="true" class="firebasetoken"></TextView> -->
        </StackLayout>

    </GridLayout>
</RadSideDrawer>