<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Change Password"></Label>
</ActionBar>


<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'changePassword'"></MyDrawer>
    </StackLayout>


    <GridLayout backgroundColor="white" class="page page-content" tkMainContent>
        <ScrollView>
            <StackLayout margin="10" verticalAlignment="center">
                <StackLayout class="form" padding="15" backgroundColor="#FFFFFF">
                    <StackLayout class="input-field">
                        <Label text="New Password" class="label font-weight-bold m-b-5"></Label>
                        <TextField secure="true" class="input" [(ngModel)]="input.newPassword"></TextField>
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout>
                    <StackLayout class="input-field">
                        <Label text="Confirm Password" class="label font-weight-bold m-b-5"></Label>
                        <TextField secure="true" class="input" [(ngModel)]="input.confirmPassword"></TextField>
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout>
                    <Button class="btn btn-primary w-full" text="Change Password" (tap)="changePassword($event)"></Button>
                </StackLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>

</RadSideDrawer>