<ActionBar class="action-bar">
    <NavigationButton visibility="collapsed"></NavigationButton>

    <StackLayout  orientation="horizontal">
            <Label text="&#xf060;"  verticalAlignment="center" class="fa" [nsRouterLink]="['/login']" ios:horizontalAlignment="left"
            android:horizontallignment="left"></Label>
        <Label class="action-bar-title" width="100%" text="Reset Password" ios:horizontalAlignment="left" android:horizontallignment="left"></Label>
    </StackLayout>
</ActionBar>

<GridLayout backgroundColor="white">
    <ScrollView>
        <StackLayout margin="10" verticalAlignment="center">
            <StackLayout class="form" padding="15" backgroundColor="#FFFFFF">
                <StackLayout class="input-field">
                    <Label text="Email" class="label font-weight-bold m-b-5"></Label>
                    <TextField class="input" [(ngModel)]="input.email"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <Button class="btn btn-primary w-full" text="Reset Password" (tap)="reset()"></Button>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>