<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Todo"></Label>
</ActionBar>

<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
The RadSideDrawer component is designed to be used as a root element and
it shouldn't have any other siblings other than the <ActionBar> component.
-->
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--
    Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Todo'"></MyDrawer>
    </StackLayout>

    <!--
    Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->
    <GridLayout backgroundColor="white" class="page page-content" tkMainContent>
        <ScrollView>
            <StackLayout margin="10" verticalAlignment="top">
                <StackLayout class="form" padding="15" backgroundColor="#FFFFFF">
                    <StackLayout class="input-field" orientation="horizontal">
                        <StackLayout width="73%" horizontalAlignment="left" verticalAlignment="bottom">
                            <TextField class="input" [(ngModel)]="input.toDo"  (ngModelChange)="textChange($event)"></TextField>
                            <StackLayout class="hr-light"></StackLayout>
                        </StackLayout>


                        <Button [isEnabled]="isEmpty" class="fa" width="100%" backgroundColor="blue" style="color:white" text="&#xf067;" (tap)="addToDo()"></Button>

                    </StackLayout>


                    <StackLayout orientation="horizontal" margin="6">
                        <Label text="&#xf022;" class="fa" verticalAlignment="center" fontSize="31" style="color:black;"></Label>
                        <Label text="Todo" textWrap="true" paddingLeft="7" fontSize="21" style="color:black;"></Label>

                    </StackLayout>
                    <StackLayout margin="6">
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout>


                    <ListView [items]="toDoListArray" height="310" margin="4">
                        <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                            <StackLayout [class.odd]="odd" [class.even]="even">

                                <Label [text]='item.name' verticalAlignment="center" width="100%" style="color:black;" horizontalAlignment="left"></Label>

                                <StackLayout orientation="horizontal">
                                    <Label [text]="item.userName" horizontalAlignment="left" (tap)="onItemTap(item,i)" style="color:black;" verticalAlignment="bottom"
                                        width="90%"></Label>
                                    <Label text="&#xf057;" class="fa" (tap)="onItemTap(item,i)" verticalAlignment="center" horizontalAlignment="right" fontSize="31"
                                        width="10%"></Label>
                                </StackLayout>
                            </StackLayout>
                        </ng-template>
                    </ListView>
                </StackLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>
</RadSideDrawer>